/* шапка сайта  */

.title {
    font-size: 40px;
    line-height: 55px;
  }


/* Блок Сейчас в тренде */
.trends-wrp {
    flex-wrap: wrap;
}

.trend-item {
    width: 49.7%;
    height: 247px;
}

.trend-title {
    font-size: 17px;
    line-height: 22px;
}

/* Основной блок */

.news {
    margin-right: 0;
}

.news-image {
    margin-bottom: 16px;
}

.news__item {
    flex-direction: column;
}

.add-info {
    margin-bottom: 34px;
}

/* Наши изделия */

.stuff-wrp {
    flex-wrap: wrap;
}

.stuff-item {
    width: 47%;
    margin-bottom: 27px;
}
